.footer {
  min-width: 1020px;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  position: relative;
  z-index: 400;
}
/* ---------------- top ---------------- */
.footer .footer-top {
  margin: 0;
  padding: 0;
  background-color: #f7f3e7;
  min-width: 1020px;
}
.footer .footer-top .footer-top-content {
  width: 980px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
  border: solid 2px black;
}
.footer .footer-top .footer-top-content .footer-top-content-first {
  height: 676.4px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid 2px black;
}
.footer .footer-top .footer-top-content .footer-top-content-last {
  position: relative;
  margin-top: 40px;
  box-sizing: border-box;
  border: solid 2px black;
  height: 100px;
}
/* ---------------- center ---------------- */
.footer .footer-center {
  min-width: 1020px;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  height: 60px;
  background-color: #c79a74;
}
.footer .footer-center .footer-center-content {
  width: 980px;
  height: 37.8px;
  margin: 0 auto;
  padding: 21px 20px 0;
  box-sizing: border-box;
  border: solid 2px black;
}
/* ---------------- bottom ---------------- */
.footer .footer-bottom {
  position: relative;
  width: 100%;
  height: 71px;
  background-color: #eeefea;
  min-width: 1020px;
  margin: 0;
  padding: 0;
  line-height: 1.7;
}
.footer .footer-bottom .footer-bottom-content {
  width: 1020px;
  height: 71px;
  margin: 0 auto;
  box-sizing: border-box;
  border: solid 2px black;
}
/* .footer .footer-bottom .footer-bottom-content .footer-bottom-content-logo {
  display: block;
  position: absolute;
  left: 20px;
  top: 19px;
  opacity: 1!important;
  box-sizing: border-box;
  border: solid 2px black;
}
.footer .footer-bottom .footer-bottom-content .footer-bottom-content-copy {
  position: absolute;
  right: 20px;
  top: 27px;
  line-height: 1.4;
  box-sizing: border-box;
  border: solid 2px black;
} */